/* src/components/SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 20px;
  width: 70%;
  max-width: 400px;
  margin: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 1em;
}

.search-bar button {
  border: none;
  background-color: #1DB954;
  color: white;
  border-radius: 50%;
  padding: 8px 10px;
  margin-left: 8px;
  cursor: pointer;
}
/* src/components/SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  border-radius: 20px;
  width: 70%;
  max-width: 400px;
  margin: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 1em;
}

.search-bar button {
  border: none;
  background-color: #1DB954;
  color: white;
  border-radius: 50%;
  padding: 8px 10px;
  margin-left: 8px;
  cursor: pointer;
}
